body {
  margin: 0;
  padding: 0;
  font-family: 'Courier new',Courier,monospace;
	background: -webkit-linear-gradient(359deg, #FF5EDF 0%, #04C8DE 100%);
	background: -o-linear-gradient(359deg, #FF5EDF 0%, #04C8DE 100%);
	background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%);
}

button{
	cursor: pointer;
}
